td {

    color: yellow
}

table {background: blueviolet;



table .cell-border {
border: 1 px solid

}
div class="form"

table * {}

[required] {}
[type=email] {}
a, div { font size: 16px;

    a:not(.active) {}

    dev:hover {background:yellowgreen}

    a:visited 
    


}