tr {color: brown}

table {background: rgb(229, 224, 235); border-spacing: 0; margin-bottom: 10px}
table th {border: 2px solid rgba(0,0,0, .14)}
table td {border: 2px solid rgba(0,0,0, .14)}
form {width: 50%; display: inline-block;}

form > div {margin-bottom: 7px;}
form label:not(.fake-label) {display: inline-block; width:150px;}





}